<form (ngSubmit)="onSubmit()">

  <h4>Developper Info :</h4>
  <label for="firstname">Firstname :</label>
  <input id="firstname" type="text" name="firstname" [(ngModel)]="developper.firstname" required minlength="2">

  <label for="lastname">Lastname :</label>
  <input id="lastname" type="text" name="lastname" [(ngModel)]="developper.lastname" required minlength="2">

  <label for="age">Age :</label>
  <input id="age" type="number" name="age" [(ngModel)]="developper.age" required>

  <label for="gender">Gender :</label>
  <input id="gender" type="radio" name="gender" value="F" [(ngModel)]="developper.gender" required>F
  <input id="gender" type="radio" name="gender" value="M" [(ngModel)]="developper.gender" required>M

  <label for="biography">Biography :</label>
  <input id="biography" type="text" name="biography" [(ngModel)]="developper.biography" required>

  <div>
    <button type="submit">Submit</button>
  </div>

</form>
<div *ngIf="devSubmitted && (developper.firstname && developper.lastname && developper.age && developper.gender && developper.biography)">
    <p>Firstname : {{developper.firstname}}</p>
    <p>Lastname : {{developper.lastname}}</p>
    <p>Age : {{developper.age}}</p>
    <p>Gender : {{developper.gender}}</p>
    <p>Biography : {{developper.biography}}</p>
</div>
<form (ngSubmit)="skillSubmit()">

    <h4>Add a skill :</h4>
    <label for="name">Name :</label>
    <input id="name" type="text" name="name" [(ngModel)]="skill.name" required>
  
    <label for="logo">Logo :</label>
    <input id="logo" type="text" name="logo" [(ngModel)]="skill.logo" required>
  
    <label for="site">Site :</label>
    <input id="site" type="text" name="site" [(ngModel)]="skill.site" required>
  
    <div>
      <button type="submit">Submit</button>
    </div>
  
</form>
<h2 *ngIf="developper.skills">List of skills :</h2>
<app-skill *ngFor="let skill of developper.skills"
[name]="skill.name"
[logo]="skill.logo"
[site]="skill.site">
</app-skill>

